body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: mintcream;
}

.centerDiv {
    display: flex;
    margin: auto;
    width: 25%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#centerTable {
    margin: 0 auto;
    text-align: center;
}

.tableStyle {
    border-collapse: collapse;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tableStyle th {
    background-color: darkred;
    color: #ffffff;
    text-align: left;
}
.tableStyle th,
.tableStyle td {
    padding: 12px 15px;
}
.tableStyle tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tableStyle tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tableStyle tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.tableStyle tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.addAndList {
    display: flex;
    justify-content: center;
}

.add{
    padding: 20px;
}

.list {
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

input[type=text], select, input[type=number], input[type=email], input[type=password] {
    width: 200px;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 200px;
    background-color: darkred;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightcoral;
}
.deleteUser, .deleteContestant, .deleteRound, .deleteTournament {
    width:60px;
    background-color: darkred;
    color: white;
    padding: 4px 6px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#divLogin {
    display: block;
    text-align: center;
    margin-top: 10%;
}

#loginForm {
    display: inline-block;
    text-align: left;
}
#bigButton {
    width: 200px;
    background-color: darkred;
    color: white;
    padding: 20px 40px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
}

#bigButton:hover {
    background-color: lightcoral;
}
@media screen and (max-width: 600px) {
    .addAndList {
        flex-direction: column;
    }
}
